<nav class="navbar">
  <div class="navbar-left">
    <button class="hamburger" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <a class="navbar-brand" routerLink="/">
      <img src="soldarte_logoV1.png" alt="Soldarte Metal">
    </a>
  </div>

<ul class="navbar-links">
  <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a></li>
  <li><a routerLink="/portafolio" routerLinkActive="active">Portafolio</a></li>
  <li><a routerLink="/productos" routerLinkActive="active">Productos</a></li>
  <li><a routerLink="/cotizacion" routerLinkActive="active">Cotización</a></li>
  <li><a routerLink="/login" routerLinkActive="active">Ingresar</a></li>
  <li><a routerLink="/registro" routerLinkActive="active">Registrarse</a></li>
</ul>

  <div class="nav-menu" [class.abierto]="menuAbierto()">
    <div class="nav-menu-header">
      <a class="navbar-brand" routerLink="/">
        <img src="soldarte_logo_menu.png" alt="Soldarte Metal">
      </a>
      <button class="cerrar" (click)="toggleMenu()">✖</button>
    </div>
    <ul>
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleMenu()">Inicio</a></li>
      <li><a routerLink="/portafolio" routerLinkActive="active" (click)="toggleMenu()">Portafolio</a></li>
      <li><a routerLink="/productos" routerLinkActive="active" (click)="toggleMenu()">Productos</a></li>
      <li><a routerLink="/cotizacion" routerLinkActive="active" (click)="toggleMenu()">Cotización</a></li>
      <li><a routerLink="/login" routerLinkActive="active" (click)="toggleMenu()">Ingresar</a></li>
      <li><a routerLink="/registro" routerLinkActive="active" (click)="toggleMenu()">Registrarse</a></li>
    </ul>
  </div>
    <div class="overlay" [class.activo]="menuAbierto()" (click)="toggleMenu()"></div>
</nav>